*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#0D1117;
    --color:#ede6f3;
    --gcolor:#6e7681;
    --button-color:#f6f8fa;

}

@media (min-width: 1012px){
.h1-mktg {
    font-size: 72px !important;
    line-height: 76px !important;
}
}


/* Utilities */
body{
    font-family: Helvetica, Arial, sans-serif;
    color: var(--color);
    background-color: var(--background-color);
    
}

h1{
    font-size: 72px;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1280px;
}

ul{
list-style-type: none;
}

a{
    text-decoration: none;
}

.text-grey{
    color: var(--color);
}

.text-dark-grey{
    color: var(--gcolor);
}

/* Header */
.main-header{
    margin: 0 40px;
    color: var(--color);
    justify-content: space-between;
    height: 68px;
    flex-wrap: nowrap;
}

.header-left{
    margin: 0 24px 0 0;
    height: 68px;
}

.header-right{
    height: 68px;
    align-items: center ;
    padding: 24px 0;
}

.header-right > a{
    padding: 24px 0 24px 0;
    margin:0 24px 0 0;
}

.header-logo{
    height: 32px;
    width: 32px;
    align-content: center;
}

/* Hero Section */
.hero-section{
    margin: 0 340px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.h1-txt{
    margin: 0 0 16px 0;
}

.p1-txt{
    font-size: 24px;
    margin: 0 0 32px 0;
}

.btn {
    padding: 16px 30px 20px !important;
    font-size: 1.25rem;
    background-color: var(--button-color);
    color: var(--button-color);
    border-radius: 0.375rem;
    font-weight: 600;
    color:  #0D1117 !important;  
    transition: 0.2s ease-out;
}

.lst-1{
    margin: 16px 0 0;
    color: var(--color);
}
